<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">To Do App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="add_task" class="nav-link">Add Task</a></li>
                <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="register" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>